<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Connections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="/fonts/LibreCaslonText-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/LibreCaslonText-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/LibreCaslonText-Italic.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/STFU.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>

    <template id="subscribe-button">
      <div>
        <button>Get the Connections sent to your email</button>
        <p>Click the button to get a PDF of the latest Connections emailed to you ~2x weekly.</p>
      </div>
    </template>
    <script src="/script.js" defer></script>
  </body>
</html>
