{% extends "base.html" %} {% block content %}
<div class="title">
  <h1>connection - {{ page.date | safe }}</h1>
  <div class="fleuron-flipped"></div>
</div>

<article class="post">
  <span class="summary">{{ page.content | safe }}</span>
  <span class="by">
    <p>{% for author in page.authors %} {{ author }} {% endfor %}</p>
  </span>
</article>

<div class="fleuron"></div>
<div class="footer">
  <a class="button" href="/connections"> return to the connections </a>
</div>

{% endblock content %}
