/* Webfont: STFU-Display */@font-face {
    font-family: 'STFU';
    src: url('STFU.eot'); /* IE9 Compat Modes */
    src: url('STFU.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('STFU.woff') format('woff'), /* Modern Browsers */
         url('STFU.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

